<%= form_for(@comment ||= Comment.new) do |f| %>
  <div class="row comment-form">
	  <div class="col-md-8">
	  	<%= f.hidden_field :entry_id, value: entry.id %>
	    <%= f.text_field :content, rows: 1, placeholder: 'Write a comment...' %>
	  </div>
  </div>
<%end%> 